*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 10px;
  width:375px;
}

li{
  display:inline-block;
}

ul{
  list-style: none;
}

.navbar {
  position:fixed;
  background-color:#f8f8f8;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  display:flex;
  flex-direction:column;
  border-bottom:1px solid #cfcfcf;
}

.navoverhead{
  display:flex;
  align-self:flex-start;
  height: 20px;
  width:100%;
  background-image:url(../images/UI-bar.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.navinfo{
  display:flex;
  width:100%;
  justify-content:space-between;
  align-self:flex-end;
  padding:10px;
}

.navtitle{
  font-size:1.6em;
  margin-top:3px;
  font-weight:bold;
  color:#444444;
}

.navheart{
  width:25px;
  height:25px;
  background-image:url(../images/heart-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.returnbutton{
  width:25px;
  height:25px;
  display:flex;
}

.arrowleft{
  width:20px;
  height:20px;
  background-image:url(../images/arrow-left.png);
  object-fit:contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.returntext{
  padding-top:3px;
  padding-left:3px;
  width:5px;
  color:#1d82ff;
  font-size: 1.5em;
}

.routelist{
  padding-top:61px;
  width:100%;
  height:auto;
  padding-bottom:49px;
}

.direction {
  height:25px;
  background: #eaeaea;
  font-size: 1.2em;
  color:#000000;
  width:100%;
  border-top:1px solid #cfcfcf;
  border-bottom:1px solid #cfcfcf;
}

.status{
  color:#444444;
  padding-top:5px;
  text-align:center;
}


.row{
  padding:10px;
  height: 100px;
  display:flex;
}

.linegood {
  border-radius:10px;
  display:flex;
  background: #01B41F;
  width: 80px;
  height: 80px;
  justify-content:center;
}

.linereroute {
  border-radius:10px;
  display:flex;
  background: #fc940a;
  width: 80px;
  height: 80px;
  justify-content:center;
}

.lineoos {
  border-radius:10px;
  display:flex;
  background: #8c8c8c;
  width: 80px;
  height: 80px;
  justify-content:center;
}

.lineinfo {
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:#ffffff;
}

.linename{
  text-align: center;
  font-size:3em;
  font-weight:bold;
}

.nextdepart{
  text-align: center;
  padding-top: 5px;
  font-size:1.2em;
}


.details{
  display:flex;
  flex-direction:column;
  margin-left:10px;
  justify-content:center;
}

.destination{
  color:#444444;
  width: 220px;
  font-weight:bold;
  font-size:1.7em;
}

.frequency{
  color:#444444;
  width: 220px;
  font-size:1.5em;
  padding-top:5px;
}

.arrowright{
  align:right;
  width: 40px;
  background-image:url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.divider{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

.hline{
 height:1px;
 width:72%;
 margin-left:auto;
 background-color:#cfcfcf;
}

.appmenu {
  position: fixed;
  background-color:#f8f8f8;
  width: 100%;
  height: 49px;
  left: 0px;
  bottom: 0px;
  display:flex;
  flex-direction:column;
  border-top:1px solid #cfcfcf;
}

.appmenuoptions{
  display:flex;
  width:100%;
  justify-content:space-evenly;
  align-self:flex-end;
}

.appmenubutton{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  height:50px;
  width:60px;
  padding-bottom: 10px;
}

.appmenutext{
  color:#8C8C8C;
  font-size: 1em;
  text-align: center;
  height: 5px;
  width: auto;
  padding-top: 3px;
}

.appmenutextselected{
  color:#1d82ff;
  font-size: 1em;
  text-align: center;
  height: 5px;
  width: auto;
  padding-top: 3px;
}

.appmenuheart{
  width:25px;
  height: 23px;
  object-fit:contain;
  background-image:url(../images/app-menu-heart.png);
  background-size: auto;
  background-repeat:no-repeat;
}

.appmenumap{
  width:25px;
  height:23px;
  object-fit:contain;
  background-image:url(../images/app-menu-map.png);
  background-size:auto;
  background-repeat:no-repeat;
}

.appmenudir{
  width:25px;
  height:23px;
  object-fit:contain;
  background-image:url(../images/app-menu-compass.png);
  background-size:auto;
  background-repeat:no-repeat;
}
